<!DOCTYPE html>
<html>

<head>
    <title>JD Shop模板</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
</head>

<body>
    <div id="root" style="position:relative;height:100%;">{{{markup}}}</div>
    <script>
        window.__INITIAL_STATE__ = {{{ initialState }}}
    </script>
    <script type="text/javascript" src="/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/lib/react.min.js"></script>
    <script type="text/javascript" src="/lib/react-dom.min.js"></script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
</body>

</html>